.cart {
  background: white;
  display: grid;
  grid-template-areas:
    "search search"
    "grocery basket";
}

.search {
  grid-area: search;
}

.grocery {
  grid-area: grocery;
}

.basket {
  grid-area: basket;
}
