.basketItem {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding:1px;
  text-align: center;
  margin: 1% 0% 1% 0%;  
  width: 48%;
}

.bbutton {
  border: 2px solid lightgray;
  border-radius: 5px;
  color: lightgray;
  padding: 1px 4px 1px 4px;
  margin: 0% 4% 0% 4%;
}

.basketItem:hover .bbutton {
  color: red;
  border-color: red;
}

.btext {
  padding: 2px;
}

.count {
  margin-right: 4px;
}

@media only screen and (max-width: 600px) {
  .basketItem {
    align-items: center;
    width: 100%;
    padding: 0;
  }
}
